DATABASE_URL=
DIRECT_URL=
REDIS_URL=

BETTER_AUTH_SECRET=
SESSION_SECRET=

RESEND_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

CORS_ORIGIN=
PORT=
NODE_ENV=